<div class="pvp-table">
    <div class="table text-white">
        <div class="thead">
            <span>Rank</span>
            <span>Rating</span>
            <span>Name</span>
            <span>Data Center</span>
            <span>Server</span>
        </div>
        {% for ranking in rankings %}
        <a class="tr" href="/character/{{ ranking.player.character }}/feast/{{ season }}">
            <span>
                {% if ranking.rank == 8675309 %}
                <i class="fas fa-angle-down"></i>
                {% else %}
                {{ ranking.rank }}
                {% endif %}
            </span>
            <span>{{ ranking.rating }}</span>
            <span>{{ ranking.player.name }}</span>
            <span>{{ ranking.player.data_center }}</span>
            <span>{{ ranking.player.server }}</span>
        </a>
        {% else %}
        <div class="p-3">
            <span>There are no rankings recorded.</span>
        </div>
        {% endfor %}
    </div>
</div>